*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#f9fafb;
  color:#333;
}

/* Header */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
  background:#fff;
}

nav a{
  margin-left:20px;
  text-decoration:none;
  color:#333;
}

/* Hero */

.hero{
  display:grid;
  grid-template-columns:1fr 1fr;
  padding:80px 50px;
  align-items:center;
}

.hero-text h2{
  font-size:40px;
}

.hero-text button{
  margin-top:20px;
  padding:12px 25px;
  background:#4f46e5;
  color:#fff;
  border:none;
  border-radius:6px;
  cursor:pointer;
}
@media (max-width: 768px){
  .hero-image img{
    max-width: 280px;
    margin-top: 30px;
  }
}
.hero-image{
  display: flex;
  justify-content: center;
}

.hero-image img{
  width: 100%;
  max-width: 420px;   /* image ki maximum width */
  height: auto;       /* image stretch nahi hogi */
  object-fit: contain;
}



/* Sections */
.about, .services, .contact{
  padding:60px 50px;
  text-align:center;
}

.services .service-box{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:20px;
}

.service-box div{
  padding:20px;
  background:#e0e7ff;
  border-radius:8px;
}
.js-img{
     object-fit: contain;
    padding-bottom: 10;
}

/* Footer */
footer{
  background:#111827;
  color:#fff;
  text-align:center;
  padding:20px;
}

/* Responsive */
@media(max-width:768px){
  .hero{
    grid-template-columns:1fr;
    text-align:center;
  }
}
